@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&display=swap');

h1,h2,p,a,span{
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.5px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-track {
  background: #3c3c3c;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}